

<!DOCTYPE html>

<html lang="en">



<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Piyush Portfolio{% endblock %}</title>

 

    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet">

</head>



<body>



    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">



        <div class="container">



            <a class="navbar-brand fw-bold" href="/">

                Piyush nagar

            </a>



            <button

                class="navbar-toggler"

                type="button"

                data-bs-toggle="collapse"

                data-bs-target="#navbarMenu">



                <span class="navbar-toggler-icon"></span>



            </button>



            <div class="collapse navbar-collapse" id="navbarMenu">



                <ul class="navbar-nav ms-auto">



                    <li class="nav-item">

                        <a class="nav-link" href="/">

                            Home

                        </a>

                    </li>






                    <li class="nav-item">

                        <a class="nav-link" href="/skill/">

                            Skills

                        </a>

                    </li>



                    <li class="nav-item">

                        <a class="nav-link" href="/contact/">

                            Contact

                        </a>

                    </li>



                </ul>



            </div>



        </div>



    </nav>





    <!-- PAGE CONTENT -->



    {% block content %}

    {% endblock %}





    <!-- Bootstrap JavaScript -->



    <script

        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">

    </script>



</body>



</html>